._*
_*
/_*
.DS*

!.gitignore
!V2021/DATA_EXTRACTS/V2021-NES_EPU_NOESTUARIES-COMPILED_DATA_FILE.CSV


/V**/COMPARE_DATA/DATA


/V**/DATA_EXTRACTS/MODISA
/V**/DATA_EXTRACTS/ACSPO
/V**/DATA_EXTRACTS/ACSPONRT
/V**/DATA_EXTRACTS/OCCCI
/V**/DATA_EXTRACTS/GLOBCOLOUR
/V**/DATA_EXTRACTS/SAV
/V**/DATA_EXTRACTS/*.*
!V**/DATA_EXTRACTS/V*

/V**/MOVIES/
/V**/MOVIES/
/V**/NETCDF/
/V**/PNG/
/V**/COMPOSITES/PSC/
/V**/PPREQ_EXTRACTS/**/MONTHLY*/
/V**/PPREQ_EXTRACTS/**/SUMS*/
/V*/SST/*
/V2022/**/*MODISA*
